/Строки. Срезы/desktop.ini
/.idea/inspectionProfiles/desktop.ini
/.idea/desktop.ini
/True и False, break и continue/desktop.ini
/Вложенные списки/desktop.ini
/Вложенные циклы/desktop.ini
/Знакомство с циклом for/desktop.ini
/Знакомство с циклом while/desktop.ini
/Знакомство со словарями/desktop.ini
/Знакомство со списками/desktop.ini
/Знакомство со средой/desktop.ini
/Контрольная работа №1/desktop.ini
/Кортежи. Преобразование коллекций/desktop.ini
/Методы split и join, Списочные выражения/desktop.ini
/Методы списков и строк/desktop.ini
/Множества/desktop.ini
/Области видимости переменных/desktop.ini
/Обработка коллекций. Потоковый ввод sys stdin/desktop.ini
/Отладчик/desktop.ini
/Переопределение функций и декораторы/desktop.ini
/Практика по работе с графикой и tkinter/desktop.ini
/Пробная самостоятельная работа/desktop.ini
/Простые встроенные функции/desktop.ini
/Самостоятельная работа №1/desktop.ini
/Строки. Индексация/desktop.ini
/Условный оператор/desktop.ini
/Функции/desktop.ini
/Функции. Возвращение значений из функций/desktop.ini
/Функции как объект, Лямбда-функции/desktop.ini
/Функции передача параметров/desktop.ini
/Функции с переменным числом аргументов/desktop.ini
/desktop.ini
/.idea/vcs.xml
